.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.closebtn {
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
}

.alert {
  margin: 2%;
  box-sizing: border-box;
  border: 1px solid black;
  color: black;
  visibility: hidden;
}

#info {
  padding: 0%;
  font-size: 80%;
}
